@layer components {
    .__proejct-img-carousel {
      @apply w-full h-64 overflow-auto scroll-smooth rounded-t-xl;
    }
  
    .__project-img-carousel::-webkit-scrollbar {
      display: none;
    }
  
    .__project-img-carousel {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}