html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 5.2rem;
  font-family: 'Pattaya', sans-serif;
  color: #9A348E;
}

h2 {
  font-size: 3.8rem;
  font-family: 'Roboto Mono', monospace;
}

h3 {
  font-size: 1.15rem;
  font-weight: 500;
  color: grey;
  margin-top: 1em;
}

h4 {
  font-weight: bold !important;
  margin-top: 1em;
  font-size: 1.2rem;
}

h5 {
  font-size: 1.15rem;
}

p {
  font-size: .8rem;
  font-weight: bold;
  margin: 0px !important;
}

a:hover {
  background-color: rgba(255,255,255,0.2);
  transition-delay: 1s;
  
}

.overflow-y-scroll {
  overflow-y: hidden !important;
}

.active  {
  background-color: #9A348E;
}

.mainContainer {
  height: 100vh;
  width: 100%;
  background-image: url(./assets/paperbg.jpg);
  background-size: cover;
  overflow-x: hidden;
}

.d-flexwrap-center {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

.d-flexwrap{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: left;
}

.drkGrey {
  color: #303030ff;
}

.fontL {
  font-weight: lighter;
}

.lineHeight {
  line-height: 1.5em;
}

.rgba-purple-strong {
  background-color: rgba(13, 6, 40, 0.9) !important;
}

.fullwidth {
  width: 100% !important;
}

.fullheight {
  height: 100% !important;
}

.fullVHeight {
  height: 100vh !important;
}

.fullVHeightEdu {
  height: 100vh !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.bullet-font {
  font-size: .9rem;
  line-height: 1.4rem !important;
}

.rgba-black-light {
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
  background-color: none !important;
}

.rgba-black-light:after {
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,.5)) !important;
  background-color: none !important;
}

.f-direction-column {
  flex-direction: column;
}

.closeBtnFloat {
  float: right !important;
  position: absolute !important;
}

/* Nav */
ul {
  height: 90% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.list-unstyled {
  height: 90% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}


.mobileNav {
  visibility: hidden;
  margin: 0px !important;
  display: none;
  min-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #0D0628;
  z-index: -1;
}

.hamburgerIcon {
  color: white;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBG {

}

.navOverlay {
  background-color: #0D0628 !important;
}

.side-nav {
  background-color: #0D0628 !important;
}

.socialIcons {
  color: white !important;
}

/* Skills */ 
.padding {
  padding: 2em;
}

.bullets {
  color: #9A348E;
  padding-right: 0px !important;
}

.no-flex-wrap {
  flex-wrap: none !important;
}

.col-1 {
  padding-right: 0px !important;
}

/* Home */
.introText {
  width: 40%;
  margin-left: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.portrait {
  max-width: 90%;
  max-height: 700px;
  padding: 15px;
}

/* About */
.absoluteBottom {
  position: absolute;
  bottom: 0;
}

.overflowAbout {
  overflow: hidden;
}

/* Education */
.imagePos {
  position: absolute;
  bottom: -4em;
}

.edupadding {
  padding: 2em;
}

.educationText {
  margin-left: .5rem !important;
}

/* Portfolio */
.WebDevProjectList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 3.5rem;
}

.halfContainer {
  width: 50%;
  display: flex !important;
}

.halfContainer-padding {
  padding: 1em;
}

.halfContainer-margin {
  margin-bottom: 0;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectCard {
  max-width: 286px;
  max-height: 159px;
  overflow: hidden;
  margin: 5px;
}

.closeButton {
  position: absolute;
  top: 0%;
  right: 0%;
}

.projectText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  max-height: 159px;
}

.view-img {
  background-color: white;
}

@media only screen and (max-width: 300px) {
  .fullVHeightEdu {
    height: 30vh !important;
  }
}

@media only screen and (max-width: 643px) {

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .9rem;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .introText {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .portrait {
    margin-bottom: 2rem;
  }

  .col-1 {
    max-width: 100%;
  }

  .padding-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

}

@media only screen and (max-width: 1200px) {
  .overflowAbout {
    overflow-y: visible !important;
  }
}


@media only screen and (max-width: 720px) {

  /* Nav */
  .mobileNav {
    display: flex;
    visibility: visible;
  }

  /* Home */
  .introText {
    margin-left: 0px;
  }

  /* Portfolio */
  .halfContainer-margin {
    margin-bottom: 4em;
  }

  .WebDevProjectList {
    margin-left: 0px;
  }

  /* Education */
  .edupadding {
    padding: 0px !important;
  }
}

@media only screen and (max-width: 912px) {
  #contact {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .educationText {
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 1425px) {
  .halfContainer {
    width: 100%;
  }
}